header {
  //background: #00FF7F;
  margin-top: 2em;
  .top-bar {
    background: transparent;
  }
  .top-bar,
  .top-bar ul {
    background: transparent;
    a {
      &.active {
        border-bottom: 1px solid black;
        color: black;
      }
    }
  }
  .top-bar-title {
    .logo-chaos {
      display: inline-block;
      text-indent: -999999px;
      background: transparent url('../../assets/img/logo-eee.png') no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px;
    }
    h1 {
      display: inline-block;
    }
  }
}
