header {
  margin-top: 2em;
  margin-bottom: 2em;
  .top-bar {
    background: transparent;
  }
  .top-bar,
  .top-bar ul {
    background: transparent;
    a {
      &:hover {
        color: white;
        transition: background-color 0.5s;
      }
      &.active {
        border-bottom: 1px solid black;
        color: black;
        &:hover {
          color: white;
        }
      }
    }
  }
  .top-bar-title {
    .logo-chaos {
      position: relative;
      top: 10px;
      display: inline-block;
      text-indent: -999999px;
      background: transparent url('../../assets/img/logo-eee.png') no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      transition: transform 2s;
      &:hover {
        transform: rotate(80deg);
        transition: transform 2s;
      }
    }
    h1 {
      display: inline-block;
    }
  }
}
