<section id="about">
  <div class="row">
    <div class="columns small-12 medium-7">
      <h4 class="subheader">Resumé</h4>
      <h2><strong>Antonio Rodríguez</strong></h2>
    </div>
    <div class="medium-5 small-12 columns">
      <ul class="text-right no-bullet">
        <li>(305) 588-4688</li>
        <li><a href="mailto:hi@antoniorodriguez.us?Subject=Resume%20Inquiry">hi@antoniorodriguez.us</a></li>
        <li><a href="http://bit.ly/2aj16W5" target="_blank" rel="noopener">LinkedIn Profile</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 columns">
      <hr>
      <p>I'm a software engineer and digital marketing professional with 12 years of progressive experience across a broad range
        of <strong>web development</strong>, client services, <strong>project management</strong>, product development, <strong>digital marketing</strong>        and leadership functions. I will demonstrate to be a <strong>plug and play</strong> asset for digital marketing agencies
        seeking a technology lead or CTO, or as a <strong>full-stack web developer</strong> at startups or software development
        companies. Ultimately, I crave to work in the company of individuals that share my passion for technology and building
        good software.</p>
      <hr>
      <h4>Professional Experience</h4>
      <div class="row">
        <div class="medium-12 columns">
          <strong>Director of Technology</strong> @ M8 - Miami, Florida
        </div>
        <div class="small-12 columns">
          <em class="text-left">August 2015 - Present</em>
        </div>
      </div>
      <p>Hired to oversee, manage, mentor and lead the software engineering and information technology teams.</p>
      <div class="row">
        <div class="medium-12 columns">
          <strong>Director of Technology and Partner</strong> @ Nobox - Miami, Florida
        </div>
        <div class="small-12 columns">
          <em class="text-left">March 2011 - July 2015 (5 years 5 months)</em>
        </div>
      </div>
      <p>Hired to oversee, manage, ideate and build digital campaigns. Additional responsibilities include leading the research
        and development of new technologies, finding new product opportunities for Nobox and clients, assisting the account
        planning staff in expanding the agency's business, and leading the team of engineers, UI designers, and project managers
        that made all of the above possible.</p>
      <blockquote>
        <p><strong>Key Contributions and Personal Achievements</strong></p>
        <ul>
          <li>Provide strategic technical counsel for digital marketing programs.</li>
          <li>Built a plethora of proprietary tools and services that elevated day-to-day operations of the internal team and
            created new service business opportunities for clients.</li>
          <li>Established a low-cost, low-maintenance high-uptime and scalable web application and API ecosystem from the ground
            up for a variety of technology stacks. Mainly for Laravel PHP, NodeJS and Angular web applications.</li>
          <li>Responsible for the quoting and cost estimation of all web, mobile, e-mail marketing and software projects.</li>
          <li>Provided reliable technical assessment on business opportunities.</li>
          <li>Implemented a strict deadline policy. Customer relationships are built best on hard work and trust.</li>
          <li>Retained the most senior team in the agency. I pride myself in using compassion as the primary motor of my management
            style.</li>
          <li>Nurtured effective relationships with key people throughout the company.</li>
          <li>Researched new technologies and coordinated workshops for the benefit and enrichening of employee knowledge.</li>
          <li>Established a cost-effective pool of quality outsourcing vendors.</li>
          <li>Established an internship program for junior web developers.</li>
        </ul>
      </blockquote>
      <div class="row">
        <div class="medium-12 small-12 large-12 columns">
          <strong>Director of Web Development and Co-Founder</strong> @ Kolapse Interactive - San Juan, Puerto Rico
        </div>
        <div class="medium-12 small-12 large-12 columns">
          <em class="text-left">February 2008 - March 2011 (3 years 2 months)</em>
        </div>
      </div>
      <p>Shared business ownership responsibilities with our co-founder and managed all web development projects. Focused on
        being agile, being cost-effective and maintaining a busy pipeline. This company was acquired by an angel investor
        based in Miami, FL.</p>
      <div class="row">
        <div class="medium-9 small-12 large-12 columns">
          <strong>Lead Web Developer</strong> @ Universidad of Puerto Rico - Rio Piedras, Puerto Rico
        </div>
        <div class="medium-5 small-12 large-12 columns">
          <em class="text-left">August 2004 - December 2010 (6 years 5 months)</em>
        </div>
      </div>
      <p>Responsible for building various high impact web applications and systems, including the campus website. These services
        were: miupi, tuition, fee payments, extensions, waiting-lists, academic evaluations for several faculties, international
        exchange system for approvals and accreditations, electronic voting (Sistema de Consulta al Estudiante), crime log,
        and others. The university's web infrastructure was very antiquated (offline), I had to tackle significant technological
        hurdles and implement data management processes.</p>
      <hr>
      <h4>Education and Technical Skills</h4>
      <p><strong>Computer Science, General Science</strong> @ University of Puerto Rico, Rio Piedras<br />
        <em class="text-left">2003-2008</em></p>
      <p><strong>Technical Skills (alphabetical order)</strong><br /> Angular, Amazon Web Services, BaseCamp, Bootstrap, Bower, BrowserStack, Campaign Monitor, CoffeScript, Composer, CSS, DigitalOcean, Electron, Envoyer, Express, Facebook Business Manager, Facebook Graph API, Facebook JS SDK, Facebook LIVE API, Facebook Unified Pixel, Forge, Foundation, Git, Google AdWords API, Google Analytics, Google Apps for Business, Google Cloud Platform, Google Maps API, Grunt, Gulp, Heroku, Homestead, HTML5, Ionic, Illustrator, InDesign, JavaScript, jQuery, Laravel, LESS, Litmus, Lumen, MapBox, MailChimp, MariaDB, Media Queries, Meteor, Microsoft Bot Framework, Microsoft Office, MongoDB, MySQL, NewRelic, Nginx, Node, NPM, OBS, Oh-my-zsh, OmniGraffle, Omniture SiteCatalyst, PayPal SDK, PhantomJS, Photoshop, PHP, PubNub, RackSpace, Rollbar, SASS, SendGrid, Sketch, Socket IO, Stylus, Terminal, Twitter API, Twilio, Ubuntu, Vagrant, Valet, WebPack, WordPress, Yarn, Yeoman</p>
    </div>
  </div>
</section>
