.brands-grid {
  padding-top: 1.5em;
  padding-bottom: .5rem;
  img {
    display: block;
    width: auto;
    max-height: 65px;
    padding-bottom: 1em;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: -webkit-filter 500ms linear;
    &:hover {
      filter: grayscale(0%);
      transition: -webkit-filter 500ms linear;
    }
  }
}

.brand-item {
  margin-bottom: 1.5rem;
}
