@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-weight: bold;
}

a {
  color: black;
  &:hover {
    background: black;
    color: white;
  }
}

section {
  clear: both;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-dark {
  background: black;
  color: white;
  a {
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
}

.typed-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
    opacity: .0;
  }
}
