<section id="intro-hero" class="row">
  <div class="large-12 columns">
    <h2>I'm a <strong>software engineer</strong> working as the <strong>technology lead</strong> in a <strong>marketing</strong>      agency. I also indulge in occasional <strong>consultancy</strong> and <strong>dev</strong> gigs.</h2>
  </div>
</section>
<section id="work-hero" class="section-dark">
  <div class="row">
    <div class="large-12 columns">
      <h3>Recent projects</h3>
    </div>
  </div>
  <app-home-project-grid></app-home-project-grid>
  <div class="row">
    <div class="large-12 columns">
      <p class="float-right">
        <a routerLink="/work">See more</a>
      </p>
    </div>
  </div>
</section>
<section id="brands-hero" class="">
  <div class="row">
    <div class="large-12 columns">
      <h3>I've built <span class="js-stuff">stuff</span> for these brands</h3>
    </div>
  </div>
  <app-home-client-grid></app-home-client-grid>
  <div class="row">
    <div class="large-12 columns">
      <p class="text-right"><a href="mailto:antoniwan@gmail.com">Let's work together!</a></p>
    </div>
  </div>
</section>
