<ul class="menu align-right">
  <li>
    <a href="https://www.linkedin.com/in/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-linkedin fa-2x"></i></a>
  </li>
  <li>
    <a href="https://github.com/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-github-alt fa-2x"></i></a>
  </li>
  <li>
    <a href="https://twitter.com/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-twitter fa-2x"></i></a>
  </li>
  <li>
    <a href="https://www.facebook.com/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-facebook fa-2x"></i></a>
  </li>
  <li>
    <a href="http://instagram.com/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-instagram fa-2x"></i></a>
  </li>
  <li>
    <a href="http://www.last.fm/user/antoniwan" target="_blank" rel="noopener">
      <i class="fa fa-lastfm fa-2x"></i></a>
  </li>
  <li>
    <a href="mailto:antoniwan@gmail.com" target="_blank" rel="noopener">
      <i class="fa fa-envelope fa-2x"></i></a>
  </li>
</ul>
